{% extends "layout.html" %}

{% block content %}

<div class="col-md-4 offset-md-4 p-5 bg-dark text-white text-center border rounded border-0" >
    <form action="{% url 'password' %}" class="card card-body bg-dark border border-0 rounded">
        <h1>Generador De Contraseñas</h1>
        <label for="length">Seleciona la longitud de tu contraseña</label>
        <select name="length" id="length" class="input-group-text " >
            <option value="6">6 characters</option>
            <option value="7">7 characters</option>
            <option value="8">8 characters</option>
            <option value="9">9 characters</option>
            <option value="10">10 characters</option>
            <option value="11">11 characters</option>
            <option value="12">12 characters</option>
            <option value="13">13 characters</option>
        </select>
        <div class="form-check form-switch my-2 ">
            <label class="form-check-label" for="uppercase">Mayusculas</label>
            <input class="form-check-input" role="switch" type="checkbox" name="uppercase" id="uppercase">
        </div>
        
        <div class="form-check form-switch my-2">
            <label class="form-check-label" for="special">Caracteres especiales</label>
            <input class="form-check-input" type="checkbox" name="special" id="special">
        </div>

        <div class="form-check form-switch my-2">
            <labe  class="form-check-label" for="number">Numeros</label>
            <input class="form-check-input" type="checkbox" name="number" id="number">
        </div>
    
        <button class="btn btn-primary btn-sm">Generar</button>
    </form>
</div>

{% endblock content %}